/**
PINK THEME
 */
.root {
    -fx-background-color: linear-gradient(to bottom, #EBDDD0 0%, #E6B5B8 100%);
}

.label, .text-area, .text-field, .button, #text-normal {
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #0B3039;
}

#text-bold {
    -fx-font-weight: bolder;
    -fx-font-size: 14px;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #0B3039;
}

#title {
    -fx-font-weight: bolder;
    -fx-font-size: 50px;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #0B3039;
}

#resultMsg {
    -fx-font-family: Roboto;
    -fx-font-weight: bolder;
    -fx-font-size: 20px;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #0B3039;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#pane-with-shadow {
    -fx-background-color: linear-gradient(to bottom, #EBDDD0 0%, #E6B5B8 100%);
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#peg-pane {
    -fx-background-color: #EBDDD0;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

.button {
    -fx-background-color: #EBDDD0;
    -fx-text-fill: #0B3039;
    -fx-min-height: 40px;
    -fx-min-width: 340px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#blackBtn {
    -fx-background-color: #0B3039;
    -fx-text-fill: #EBDDD0;
}

#checkBtn {
    -fx-background-color: #6F5771;
    -fx-text-fill: #EBDDD0;
}

#themeBtn {
    -fx-background-color: #0B3039;
    -fx-background-image: url("assets/theme.png");
    -fx-background-size: 22px 22px;
    -fx-min-width: 36px;
    -fx-min-height: 36px;
    -fx-background-radius: 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#themeTray {
    -fx-background-color: #0B3039;
    -fx-background-radius: 12px;
    -fx-padding: 3px 8px 3px 8px;
    -fx-min-height: 37px;
    -fx-max-width: 200px;
}

#iconQuestion {
    -fx-background-color: transparent;
    -fx-min-height: 27px;
    -fx-min-width: 27px;
    -fx-effect: none;
    -fx-background-image: url("assets/QuestionCircle.png");
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#iconQuestionSmall {
    -fx-background-color: transparent;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-effect: none;
    -fx-background-image: url("assets/QuestionCircleSmall.png");
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#iconHolder, #indicatorHolder {
    -fx-background-color: transparent;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
}

.tooltip {
    -fx-background-color: #0B3039;
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-text-fill: #EBDDD0;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}

.circle {
    -fx-fill: #EBDDD0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#blank-circle {
    -fx-fill: #EBDDD0;
    -fx-blend-mode: darken;
    -fx-effect: innershadow(gaussian, rgba(6, 38, 68, 0.2), 5, -8, -3, 2);
}

#peg-circle, #black-peg, #white-peg {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#black-peg {
    -fx-fill: #0B3039;
}

#white-peg {
    -fx-fill: #F3F5E8;
}

.first-peg {
    -fx-fill: #294352;
}

.second-peg {
    -fx-fill: #6F5771;
}

.third-peg {
    -fx-fill: #D58097;
}

.fourth-peg {
    -fx-fill: #E6B5B8;
}

.fifth-peg {
    -fx-fill: #D7AC8D;
}

.sixth-peg {
    -fx-fill: #FF7373;
}