/**
WHITE(DEFAULT) THEME
 */
.root {
    -fx-background-color: white;
}

.label, .text-area, .text-field, .button, #text-normal {
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-font-smoothing-type: lcd;
}

#text-bold {
    -fx-font-weight: bolder;
    -fx-font-size: 14px;
    -fx-font-smoothing-type: lcd;
}

#title {
    -fx-font-weight: bolder;
    -fx-font-size: 50px;
    -fx-font-smoothing-type: lcd;
}

#resultMsg {
    -fx-font-family: Roboto;
    -fx-font-weight: bolder;
    -fx-font-size: 20px;
    -fx-font-smoothing-type: lcd;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#pane-with-shadow, #peg-pane, .button {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

.button {
    -fx-text-fill: black;
    -fx-min-height: 40px;
    -fx-min-width: 340px;
}

#blackBtn {
    -fx-background-color: #1D1D1D;
    -fx-text-fill: white;
}

#checkBtn {
    -fx-background-color: #EF476F;
    -fx-text-fill: white;
}

#backBtn {
    -fx-background-color: transparent;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-effect: none;
    -fx-background-image: url("assets/back.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#themeBtn {
    -fx-background-color: #1D1D1D;
    -fx-background-image: url("assets/theme.png");
    -fx-background-size: 22px 22px;
    -fx-min-width: 36px;
    -fx-min-height: 36px;
    -fx-background-radius: 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#themeTray {
    -fx-background-color: #1D1D1D;
    -fx-background-radius: 12px;
    -fx-padding: 3px 8px 3px 8px;
    -fx-min-height: 37px;
    -fx-max-width: 200px;
}

#iconQuestion {
    -fx-background-color: transparent;
    -fx-min-height: 27px;
    -fx-min-width: 27px;
    -fx-effect: none;
    -fx-background-image: url("assets/QuestionCircle.png");
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#iconQuestionSmall {
    -fx-background-color: transparent;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-effect: none;
    -fx-background-image: url("assets/QuestionCircleSmall.png");
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#iconHolder, #indicatorHolder {
    -fx-background-color: white;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
}

.tooltip {
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}

.circle {
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#blank-circle {
    -fx-fill: white;
    -fx-effect: innershadow(gaussian, rgba(6, 38, 68, 0.06), 6, -8, -3, 2);
}

#peg-circle, #black-peg, #white-peg {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#black-peg {
    -fx-fill: black;
}

#white-peg {
    -fx-fill: #D9D9D9;
}