/**
WOODEN THEME
 */
.root {
    -fx-background-image: url("assets/woodbg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.label, .text-area, .text-field, .button, #text-normal {
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #604A36;
}

#text-bold {
    -fx-font-weight: bolder;
    -fx-font-size: 14px;
    -fx-text-fill: #604A36;
    -fx-font-smoothing-type: lcd;
}

#title {
    -fx-font-weight: bolder;
    -fx-font-size: 50px;
    -fx-text-fill: #604A36;
    -fx-font-smoothing-type: lcd;
}

#winningMsg, #losingMsg {
    -fx-font-family: Roboto;
    -fx-font-weight: bolder;
    -fx-font-size: 20px;
    -fx-text-fill: #604A36;
    -fx-font-smoothing-type: lcd;
}

#pane-with-shadow, #peg-pane {
    -fx-background-image: url("assets/woodbg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.48), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.32), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 14, -8, 2, 5);
}

.button, #blackBtn, #checkBtn {
    -fx-background-image: url("assets/woodbg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-text-fill: #604A36;
    -fx-min-width: 340px;
    -fx-min-height: 40px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.48), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.32), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 14, -8, 2, 5);
}

#themeBtn {
    -fx-background-color: black;
    -fx-background-image: url("assets/theme.png");
    -fx-background-size: 22px 22px;
    -fx-min-size: 36px 36px;
    -fx-background-radius: 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#themeTray {
    -fx-background-color: black;
    -fx-background-radius: 12px;
    -fx-padding: 3px 8px 3px 8px;
    -fx-min-height: 37px;
    -fx-max-width: 200px;
}

#iconQuestion {
    -fx-background-color: transparent;
    -fx-min-size: 27px 27px;
    -fx-effect: none;
    -fx-background-image: url("assets/QuestionCircle.png");
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#iconQuestionSmall {
    -fx-background-color: transparent;
    -fx-min-size: 20px 20px;
    -fx-effect: none;
    -fx-background-image: url("assets/QuestionCircleSmall.png");
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#iconHolder, #indicatorHolder {
    -fx-background-color: transparent;
    -fx-max-size: 20px 20px;
}

.tooltip {
    -fx-background-color: #604A36;
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}

.circle {
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#blank-circle {
    -fx-fill: rgba(0, 0, 0, 0.05);
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 1), 2, -3, -6, 5);
}

#peg-circle, #black-peg, #white-peg {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 3, -4, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 8, -6, 0, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 14, -8, 2, 5);
}

#black-peg {
    -fx-fill: #604A36;
}

#white-peg {
    -fx-fill: white;
}

.first-peg {
    -fx-fill: url("assets/wood1.png");
    -fx-background-repeat: no-repeat;
    -fx-fill-height: 100%;
    -fx-fill-width: 100%;
    -fx-background-size: cover;
    -fx-blend-mode: color-burn;
}

.second-peg {
    -fx-fill: url("assets/wood2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-blend-mode: color-burn;
}

.third-peg {
    -fx-fill: url("assets/wood3.jpg");
    -fx-background-repeat: no-repeat;
    -fx-blend-mode: color-burn;
}

.fourth-peg {
    -fx-fill: url("assets/wood4.jpg");
    -fx-background-repeat: no-repeat;
    -fx-blend-mode: color-burn;
}

.fifth-peg {
    -fx-fill: url("assets/wood5.png");
    -fx-background-repeat: no-repeat;
    -fx-blend-mode: color-burn;
}

.sixth-peg {
    -fx-fill: url("assets/wood6.jpg");
    -fx-background-repeat: no-repeat;
    -fx-blend-mode: color-burn;
}